table,td,th{
    border: 2px solid;
    border-collapse: collapse;
    border-color: #96d4d9;

    
    
    
}

table{
    width: 100%;
    font-size: 20px;
    
}

tr:nth-child(even){
background-color: lightgrey;
}

td,th{
    padding: 20px;
}


th{
    background-color: dodgerblue;
    color: white;
}



/* here is my grade design */



 .good{
    background-color: green;
    padding: 1px;
    color: white;
    border-radius: 5px;
 }

 .Excellent{
    background-color: blue;
    padding: 1px;
    color: white;
    border-radius: 5px;
 }

 .very-good{
    background-color: darkblue;
    padding: 1px;
    color: white;
    border-radius: 5px;
 }



/* here is my icon signs design  */



 .Pass{
    background-color: green;
    padding: 1px;
    color: white;
 }


 .Pass1{
    background-color: greenyellow;
    padding: 1px;
    color: white;
 }

 .Pass2{
    background-color: darkgreen;
    padding: 1px;
    color: white;
 }

 .Pass3{
    background-color: green;
    padding: 1px;
    color: white;
 }